plugins: ["@shopify/prettier-plugin-liquid"]
printWidth: 150
trailingComma: "es5"
overrides: [{ "files": ["*.html"], "options": { "printWidth": 240, "parser": "liquid-html", "singleQuote": false } }]
