#menu, #pied, #cache, #renvoi {
	display: none;
	}
#entete h1 {
	font: medium Garamond, Times New Roman, serif;
	border-bottom: 1px solid #666666;
	}

a	{
	text-decoration:none;
	}
	
#contenu p, #contenu ul, #contenu blockquote {
	font: 12pt Garamond, Times New Roman, serif;
	}

#contenu p {
	text-align: justify;
	text-indent: 40px;
	}

#contenu li {
	padding-bottom: 5px;
	}

#contenu h2, #contenu h3, #contenu h4, #contenu h5 {
	font-family: Garamond, Times New Roman, serif;
	margin-left: 40px;
	font-weight: normal;
	}

#contenu h2 {
	font-size: 22pt;
	}
	
#contenu h3 {
	font-size: 18pt;
	}

#contenu h4 {
	font-size: 16pt;
	font-style: italic;
	}

#contenu h5 {
	font-size: 12pt;
	}	
	
/* STYLES DE TEXTE */

p>q, li>q {
	font-style: normal;
	}
	
.phon {
	font-family: Arial Unicode MS, Arial, serif;
	font-size: 10pt;
	}


/* SPECIFIQUES A CERTAINES PAGES */

/* Bibliographie */

#biblio li {
/*	list-style-image: url(/img/livre.gif); */
	padding-bottom: 8px;
	margin-left: 20px;
	}

#table li {
	padding-bottom: 0px;
	}

/* Notes */

#notes {
	margin-top: 50px;
	}
	
#notes h2 {
	font: 10pt Garamond, Times New Roman, serif;
	color: black;
	border-top: solid 1px;
	width: 100px;
	padding-top: 20px;
	margin-left: 40px;
	font-weight: bold;
	}

#notes ol, #notes p {
	margin-left: 40px;
	font-size: 10pt;
	}