/* Feuille de syle - "Moderne" par Serge Bibauw
Initialement créée pour Renouvo.org
Diffusée sous license Creative Commons Parternité-ShareAlike 2.0 - http://creativecommons.org/licenses/by-sa/2.0/be/
Dérivée des feuilles de style du Layout Reservoir de BlueRobot.com - http://bluerobot.com/web/layouts/ */

body {
	margin:0px;
	padding:0px;
	background-image:url(img/arbre.jpg);
	background-repeat:no-repeat;
	background-position:top right;
	background-color: #FFFFFF; 
	color:black;
	}

a 	{
	color: #993300;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}

#cache {
	display: none;
	}

#entete {
	margin: 50px 10px 0px 10px;
	padding: 0px;
	}

#entete h1 {
	color: #333;
	font: 22pt Garamond, Times New Roman, serif;
	font-weight: 900;
	}

#contenu {
	margin: 0px 70px 8px 200px;
	padding: 10px;
	background-color: #FFFFFF;
	border: 1px dashed black;	
	}

#contenu p, #contenu ul, #contenu blockquote {
	font: 11pt Garamond, Times New Roman, serif;
/*	line-height: 25px;	*/
/*	margin: 10px 0px 10px 0px;*/
	}

#contenu p {
	text-align: justify;
	text-indent: 40px;
	}

#contenu li {
	padding-bottom: 5px;
	}

#contenu h2, #contenu h3, #contenu h4, #contenu h5 {
	color: #CC9933; /*663333*/
	font-family: Garamond, Times New Roman, serif;
	margin-left: 40px;
	font-weight: normal;
	}

#contenu h2 {
	font-size: 20pt;
	}
	
#contenu h3 {
	font-size: 16pt;
	}

#contenu h4 {
	font-size: 14pt;
	font-style: italic;
	}

#contenu h5 {
	font-size: 12pt;
	}

#retrait {
	margin-left: 30px;
	}



/* STRUCTURE GLOBALE */
	
#menu {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	margin-left: 10px;
	float: left;
	min-width: 150px;
	padding: 10px;
	background-image:url(img/menu.jpg);
	background-repeat:no-repeat;
	background-position:center right;
	border: 1px dashed black;
	line-height: 18px;
	}

#menu ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
	}

#menu ul.niv2 {
	text-indent: 20px;
	font-size: 10px;
	}

#pied {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 70px 5px 190px;
	text-align: center;
	}
	
#renvoi {
	float: right;
	font: 10px Arial, Helvetica, sans-serif;
	}



/* STYLES DE TEXTE */

/*q {
	quotes: '\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d';
	font-style: italic; 
	}
q:before {
	content: open-quote;
	}
q:after {
	content: close-quote;
	}*/
p>q, li>q {
	font-style: normal;
	}
	
.phon {
	font-family: Arial Unicode MS, Arial, serif;
	font-size: 10pt;
	}


/* SPECIFIQUES A CERTAINES PAGES */
	
/* Liens */

.courriel:before {
	content: "\0000c9crire \0000e0\0000a0";
	}

.lien:before {
	content: "\0000bb\0000a0";
	}

/* Bibliographie */

#biblio li {
/*	list-style-image: url(/img/livre.gif); */
	padding-bottom: 8px;
	margin-left: 20px;
	}

#table li {
	padding-bottom: 0px;
	}

/* Notes */

#notes {
	margin-top: 50px;
	}
	
#notes h2 {
	font: 10pt Garamond, Times New Roman, serif;
	color: black;
	border-top: solid 1px;
	width: 100px;
	padding-top: 20px;
	margin-left: 40px;
	font-weight: bold;
	}

#notes ol, #notes p {
	margin-left: 40px;
	font-size: 9pt;
	}